.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-family: Arial, sans-serif;
}

h1 {
  text-align: center;
  margin-bottom: 20px;
}



.CalcContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.DispContainer {
  width: 300px;
  height: 100px; 
  border: 2px solid black;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
  overflow: hidden;
}

.Display {
  font-size: 16px;
  text-align: center;
  word-wrap: break-word; 
  white-space: normal;
  overflow: hidden;
  text-overflow: ellipsis; 
}


.ButtonsContainer {
  display: grid;
  grid-template-columns: repeat(3, 1fr); 
  gap: 10px;
  margin-bottom: 20px;
}

.ButtonKeys {
  padding: 20px;
  font-size: 18px;
  background-color: #4CAF50;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

.ButtonKeys:hover {
  background-color: rgb(155, 103, 7);
}

.OperatorButton {
  background-color: rgb(248, 143, 5);
}

.OperatorButton:hover {
  background-color: rgb(155, 103, 7);
}

.ClearButton {
  background-color: rgb(248, 143, 5);
}

.ClearButton:hover {
  background-color: rgb(99, 66, 5);
}

.EqualsButton {
  background-color: rgb(248, 143, 5);
  color: white;
}

.EqualsButton:hover {
  background-color: rgb(99, 66, 5);
}

.SurnameContainer {
  margin-top: 20px;
  gap: 10px;
}

.SurnameContainer .OperatorButton {
  background-color: rgb(45, 46, 66);
}

.SurnameContainer .OperatorButton {
  background-color: rgb(248, 143, 5);
}

.SurnameContainer .OperatorButton:hover {
  background-color: rgb(99, 66, 5);
}

.LearningButton {
  background-color: #FF9800;
}

.LearningContainer {
  margin-top: 20px;
  display: flex;
  gap: 10px;
}
